.App {
    height: 100%;
    width: 100%;
    background-color: #282c34;
    color: white;
    display: flexbox;
    /* //display: flexbox; */
}

.header {
    height: 35vh;
    width: 100%;
    text-align: center;
    font-size: 7vw;
}

.input {
    display: flex;
    font-size: 3vh;
}

.Elements {
    float: right;
}

.Elements1{float:left; }
.button1 {
    background-color: rgb(43, 120, 236);
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 20px; 
}

.answers {
    text-align: center;
    padding-top: 10vmin;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    padding-top: 5vmin;
}

input[type=text], select {
    width: 50%;
    padding: 12px 20px;
    /* margin: 8px 0; */
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }