<!-- <mat-card class="App">
  hello brother
</mat-card> -->

<div class="App">
  <div class="header">
    <span>Dictionary</span>
  </div>

  <div>
    <div>
      <div>
        <form (submit)="searchMeaning(inputVals)" #inputVals="ngForm">
          <span class="input Elements1">
            <label>Enter Word </label>
            <input placeholder="word" 
              type="text" 
              name="inputWord"
              ngModel required
              />
          </span>
          <span class="input Elements">
            <label>Select language </label>
            <select name="language" ngModel>
              <option *ngFor="let option of categories" 
                [value]="option.label"
                >{{option.value}}</option>
            </select>
          </span>
          <br><br>
          <div class="buttonContainer">
            <button class="button1" type="submit">Search</button>
          </div>
        </form>
        
      </div>
    </div>
  </div>
  <div *ngIf="output1 !== 'Error occurend'; else elseBlock" class="answers">
    <h2>{{this.definition }}</h2>
  </div>
  <ng-template #elseBlock class="answers">{{this.output1}}</ng-template>

  <!-- <div class="answers"><h2>Hello</h2></div> -->
  
  
</div>